.título {
    position: absolute;
    text-align: center;
    vertical-align: center;
    background: linear-gradient(to top right, rgb(31, 31, 31), rgb(39, 39, 39));
    box-shadow: 1px 0px 20px rgba(20, 20, 20, 0.308);
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.container {
    opacity: 1;
    display: grid;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    row-gap: 25px;
    margin: 1% 5%;
    padding: 10% 10%;
    box-shadow: 1px 0px 10px rgba(34, 34, 34, 0.116);

    background: linear-gradient(to bottom left, rgb(53, 40, 46, 0.95), rgb(53, 11, 36, 0.95));

}

p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25em;
}

body {
    background: linear-gradient(to bottom left, rgb(26, 26, 26), rgb(26, 10, 19));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;

    align-items: center;
    text-align: center;
}

footer {
    background: none;
    color: rgb(54, 54, 54);

    text-align: center;

    width: 100%;
    z-index: 2;
}

img {
    display: block;
    top: 10px;
    left: 10px;
    position: absolute;
    height: 80%;
}

.links {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
}

#title {
    font-size: 30px;
}

h1 {    
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    font-size: 1.75em;
}

a {
    text-decoration: none;
    color: rgb(179, 35, 90);
    transition: transform 0.25s ease-in-out;
}

h2 a {
    font-size: 14pt;
}

a#titul {
    text-decoration: none;
    color: white;

}

a#atual {
    pointer-events: none;
    cursor: pointer;
    color: rgb(252, 60, 133);
}

a:hover {
    transform: scale(102%);
}

h2 {
    color: rgb(82, 82, 82);
}
#íconemobile {
    display: none;
}

#load-div-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgb(53, 11, 36);
    z-index: 2;
    
}

#load-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    flex-direction: column;
    align-items: center;
    display: flex;

}


#loader {
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    
    background: linear-gradient(0deg, rgba(61, 0, 26, 0.2) 33%, #f70052 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
#loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: rgb(53, 11, 36);
}
@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
} 


@media screen and (orientation: portrait){

    * {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        transition: 0.5s;
        transition-property: transform, margin, width, height, size, font-family, font-size;
    }

    #title {
        font-size: 27px;
    }

    .links {
        position: fixed;
        overflow: hidden;
        text-align: center;
        background: linear-gradient(to top right, rgb(27, 27, 27), rgb(34, 34, 34));
        box-shadow: 1px 0px 20px rgba(20, 20, 20, 0.308);
        color: white;

        bottom: 0;
        top: auto;
        font-size: 15px;
        border-radius: 10px 10px 0px;
        width: 100%;
        z-index: 6;
    }

    footer {
        height: 100px;
        font-size: small;
    }

    img#logo {
        display: none;
    }

    #íconemobile {
        display: inline;
        color: rgb(233, 71, 133);
    }

    @media screen and (width < 475px) {

    }

    @media screen and (width < 420px) {

    }

    @media screen and (width < 400px) {
        .links {
            font-size: 14px;
        }
        #title {
            font-size: 20px;
        }
        h1 {
            font-size: 20px;
        }


        footer {
            height: 115px;
            font-size: 12px;
        }

    }

}

