.container {
    opacity: 1;
    display: block;
}

.links {
    z-index: 5;
}

#logoestado {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: none;
    width: 12.5em;
    -webkit-filter: drop-shadow(2px 2px 4px #50202f);
    filter: drop-shadow(2px 2px 4px #50202f);
}

#subtítulo {
    margin-top: 40px;
    color:rgb(206, 162, 184);
}

.títulos {
    text-align: left;
    color:rgb(206, 35, 123);
}

#descrição { 
    text-align: left;
    color:rgb(209, 89, 151);
}
@media screen and (orientation: portrait){
    .container {
        margin: 0px;
    }

    #logoestado {
        display: block;
    }


    @media screen and (width < 400px) {
        .títulos {
            font-size: 30px;
        }
    }
}
